$green-main: #204c39;
$green-strong: #18392b;
$green-light: #295f48;
$blue: #295b5f;
$black: #000;
$white: #eeeeee;
$red: #660000;
$alpha-blue: #295b5fee;
$alpha-green-strong: #18392baa;
$alpha-black: #000000ee;
